<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.server.dao.RequestDao">
    <insert id="insertRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO request(fromId, toId, isOK, isDenied, sendTime, fromEmail, fromNickName)
        VALUES (#{fromId}, #{toId}, false, false, #{sendTime}, #{fromEmail}, #{fromNickName})
    </insert>

    <update id="acceptRequest">
        UPDATE request SET
        isOK = true
        WHERE id = #{id}
    </update>

    <update id="rejectRequest">
        UPDATE request SET
        isDenied = true
        WHERE id = #{id}
    </update>

    <select id="selectRequestByIds" resultType="com.demo.server.bean.Request">
        SELECT * FROM request
        WHERE fromId = #{fromId} and toId = #{toId} and isDenied = false and isOK = false
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectRequestByToId" resultType="com.demo.server.bean.Request">
        SELECT * FROM request
        WHERE toId = #{toId} and isDenied = false and isOK = false
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectRequestById" resultType="com.demo.server.bean.Request">
        SELECT * FROM request
        WHERE id = #{id}
    </select>
</mapper>
